.iframely-embed {
  height: 100%;
}

.iframely-responsive {
  display: flex;
  padding: 0 !important;
  width: 100%;
  height: 100% !important;
}

.iframely-responsive iframe {
  width: 100%;
  height: 100%;
}
